@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --main-color: #ba9b9c;
    --second-color: #94484c;
    --big-font-size: 28px;
    --small-font-size: 18px;
    --thin-font-weight: 150;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto Flex", sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

/* header */
header {
    display: flex;
    height: 100vh;
}

.header__left {
    width: 30%;
    background-color: var(--main-color);
}

.header__bg__image {
    height: 100vh;
}

.header__center {
    width: 40%;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header__right {
    width: 30%;
    background-color: var(--main-color);
}

.header__logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    pointer-events: auto;
    opacity: 0;
    transform: translateX(20vh);
}

.header__logo__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(20vh);
}

.header__mentor-name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header__mentor-description {
    font-size: var(--small-font-size);
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.header__social-links {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
}

.social-links__item {
    color: #333;
    font-size: var(--big-font-size);
    transition: color 0.3s ease;
}

.social-links__item:hover {
    color: var(--second-color);
}

.fa-telegram::before {
    content: "\f3fe";
}

.fa-envelope::before {
    content: "\f0e0";
}

.fa-instagram::before {
    content: "\f16d";
}

.animate-element {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animate-element.show {
    opacity: 1;
    transform: translateX(0);
}

/* first-section-container */

.first-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.first-section-container__description,
.first-section-container__works {
    width: 60%;
}

.description__title,
.works__title--main {
    font-size: var(--big-font-size);
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.description__text {
    font-size: var(--small-font-size);
    line-height: 1.6;
    font-weight: var(--thin-font-weight);
}

.description__text--big {
    margin-bottom: 15px;
    font-size: var(--small-font-size);
    text-align: justify;
}

.description__text--small {
    margin-bottom: 15px;
    font-size: var(--small-font-size);
    text-align: justify;
}

.works {
    list-style-type: none;
    padding-left: 0;
    padding-top: 10px;
}

.works__item--list {
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    font-size: var(--small-font-size);
    text-align: justify;
    font-weight: var(--thin-font-weight);
}

.works__item--list::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--main-color);
    position: absolute;
    left: 0;
}

.works__item--list:hover::before {
    color: var(--second-color);
}

/* price-container */
.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 60%;
    margin: 0 auto;
}

.price-container__title {
    font-size: var(--big-font-size);
    font-weight: bold;
    margin-bottom: 30px;
}

.price-container__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid #e0e0e0;
}

.price-container__item-name,
.price-container__item-price {
    font-size: var(--small-font-size);
    font-weight: var(--thin-font-weight);
}

.price-container__item-name {
    color: #333;
}

.price-container__item-price {
    color: var(--second-color);
    font-weight: bold;
}

.price-container__description {
    font-size: var(--small-font-size)*0.6;
    color: #666;
    margin-top: 20px;
    text-align: center;
}

/* footer */
.footer__description {
    background-color: var(--main-color);
    text-align: center;
    padding: 10px;
    font-weight: var(--thin-font-weight);
}

/* carousel-container */
.carousel__title {
    font-size: var(--big-font-size);
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.carousel-container {
    position: relative;
    width: 60vw;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews-container {
    overflow-x: hidden;
    padding-left: 25px;
    padding-right: 25px;
}

.review {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0;
    display: none;
    transform: scale(0.95);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0s linear 0.5s;
}

.review.active {
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0s linear 0s;
    animation: appearance 2s forwards;
}

.author {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    display: block;
    font-size: var(--small-font-size)*0.8;
    font-weight: var(--thin-font-weight);
}

.review-text {
    font-size: var(--small-font-size)*0.8;
    line-height: 1.5;
    color: #666;
    text-align: justify;
    margin: auto;
    font-weight: var(--thin-font-weight);
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #333;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.carousel-prev:hover,
.carousel-next:hover {
    color: #000;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

/* write-me-button*/
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.write-me-button {
    background-color: var(--second-color);
    font-size: var(--small-font-size);
    border-radius: 50px;
    padding: 15px 30px;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.write-me-button:hover {
    transform: scale(1.02);
}

@keyframes appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 804px) {
    header {
        flex-direction: row-reverse;
    }

    .header__left,
    .header__right {
        display: none;
    }

    .header__center {
        width: 100%;
    }


    .description__title,
    .works__title--main,
    .price-container__title,
    .carousel__title {
        font-size: 20px;
    }

    .description__text,
    .works__item--list,
    .author,
    .review-text,
    .price-container__item-name,
    .price-container__item-price,
    .footer__description {
        font-size: 13px;
    }

    .first-section-container__description,
    .first-section-container__works,
    .price-container {
        padding: 10px;
        width: 90%;
    }

    .carousel-container {
        width: 80vw;
    }

    .write-me-button {
        font-size: 20px;
    }

}

/* .payform-tbank {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 250px;
}

.payform-tbank-row {
    margin: 2px;
    border-radius: 4px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #DFE3F3;
    padding: 15px;
    outline: none;
    background-color: #DFE3F3;
    font-size: 15px;
}

.payform-tbank-row:focus {
    background-color: #FFFFFF;
    border: 1px solid #616871;
    border-radius: 4px;
}

.payform-tbank-btn {
    background-color: #FBC520;
    border: 1px solid #FBC520;
    color: #3C2C0B;
}

.payform-tbank-btn:hover {
    background-color: #FAB619;
    border: 1px solid #FAB619;
} */